{% extends 'base.html' %}
{% load rating_stars %}
{% block content %}
{% for message in messages %}
  <div class="{{ message.tags }}">
    {{ message }}
  </div>
{% endfor %}
<h2>See My Reviews</h2>

{% if is_student %}
    {% if reviews %}
        <h3>Student Reviews</h3>
        <table class="table">
        <thead>
            <tr>
                <th>Reviewed Student/Instructor</th>
                <th>Text</th>
                <th>Ratings</th>
                <th>Created At</th>
                <th>Class Code</th>
                <th>Project Title</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.reviewee.name }}</td>
                <td>
                    <button class="view-comment-btn btn btn-primary">View Comment</button>
                    <div class="comment-popup">
                        <p>{{ review.text }}</p>
                    </div>
                </td>
                <td>
                    <button class="view-ratings-btn btn btn-primary">View Ratings</button>
                    <div class="ratings-popup">
                        <ul>
                            <li>Work Ethic: {{ review.work_ethic|rating_stars|safe }}</li>
                            <li>Timeliness: {{ review.timeliness|rating_stars|safe }}</li>
                            <li>Leadership Skills: {{ review.leadership_skills|rating_stars|safe }}</li>
                            <li>Charisma: {{ review.charisma|rating_stars|safe }}</li>
                            <li>Agreeableness: {{ review.agreeable|rating_stars|safe }}</li>
                            <li>Pragmatism: {{ review.pragmatic|yesno:"Yes,No" }}</li>
                            <li>Reliability: {{ review.reliability|rating_stars|safe }}</li>
                            <li>Trustworthiness: {{ review.trustworthiness|rating_stars|safe }}</li>
                        </ul>
                    </div>
                </td>
                <td>{{ review.created_at|date:"Y-m-d H:i" }}</td>
                <td>{{ review.class_code }}</td>
                <td>{{ review.project_title }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {% else %}
        <p>No student reviews found.</p>
    {% endif %}
{% endif %}

{% if instructor_reviews %}
    <h3>Instructor Reviews</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Reviewed Instructor</th>
                <th>Text</th>
                <th>Ratings</th>
                <th>Created At</th>
                <th>Class Code</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor_review in instructor_reviews %}
            <tr>
                <td>{{ instructor_review.instructor }}</td>
                <td>
                    <button class="view-comment-btn btn btn-primary">View Comment</button>
                    <div class="comment-popup">
                        <p>{{ instructor_review.text }}</p>
                    </div>
                </td>
                <td>
                    <button class="view-ratings-btn btn btn-primary">View Ratings</button>
                    <div class="ratings-popup">
                        <ul>
                            <li>Teaching Ability: {{ instructor_review.teaching_ability|rating_stars|safe }}</li>
                            <li>Hard Grader: {{ instructor_review.hard_grader|rating_stars|safe }}</li>
                            <li>Articulate: {{ instructor_review.articulate|rating_stars|safe }}</li>
                            <li>Charisma: {{ instructor_review.charisma|rating_stars|safe }}</li>
                            <li>Interesting: {{ instructor_review.interesting|rating_stars|safe }}</li>
                            <li>Timeliness: {{ instructor_review.timeliness|rating_stars|safe }}</li>
                        </ul>
                    </div>
                </td>
                <td>{{ instructor_review.created_at|date:"Y-m-d H:i" }}</td>
                <td>{{ instructor_review.class_code}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div style="margin-bottom:20%;"></div>
{% elif not is_student %}
    <p>No instructor reviews found.</p>
{% endif %}
{% if not is_student and not instructor_reviews %}
    <p>You do not have any reviews to display.</p>
{% endif %}
{% endblock %}
{% block javascript %}
<script>
    // JavaScript to handle the pop-ups
    const viewCommentBtns = document.querySelectorAll('.view-comment-btn');
    const commentPopups = document.querySelectorAll('.comment-popup');
    const viewRatingsBtns = document.querySelectorAll('.view-ratings-btn');
    const ratingsPopups = document.querySelectorAll('.ratings-popup');

    viewCommentBtns.forEach((btn, index) => {
        btn.addEventListener('click', () => {
            commentPopups[index].classList.toggle('show-comment');
        });
    });

    viewRatingsBtns.forEach((btn, index) => {
        btn.addEventListener('click', () => {
            ratingsPopups[index].classList.toggle('show-ratings');
        });
    });
</script>
{% endblock %}