{% extends 'base.html' %}
{% csrf_token %}
{% block content %}
<style>
  .vertical-center {
    min-height: 100vh;
    min-height: calc(100vh - 56px); /* Assuming a 56px navbar */
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="vertical-center">
  <div class="text-center">
    <h2>Register</h2>
    <form method="post" class="form-signin">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.username.errors }}
      <p>{{ form.username.help_text }}</p>
      {{ form.username.label_tag }} {{ form.username }}

      {{ form.email.errors }}
      <p>{{ form.email.help_text }}</p>
      {{ form.email.label_tag }} {{ form.email }}

      <!-- Here we assume that the form has password instructions above the password fields -->
      {{ form.password1.errors }}
      <p>{{ form.password1.help_text }}</p>
      {{ form.password1.label_tag }} {{ form.password1 }} <br />
      {{ form.password2.label_tag }} {{ form.password2 }}

      <button type="submit" class="btn btn-primary btn-block">Register</button>
      <hr>
      <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </form>
  </div>
</div>
{% endblock %}
